oberdanEquipamientos/src/Statics/buscar_chico.png
oberdanEquipamientos/build/classes/Views/*.class
*.class

/oberdanEquipamientos/dist/
oberdanEquipamientos/dist.7z
src/Views/ProductosView.form
src/Views/ProductosView.java
src/Views/ProveedoresView.form
src/Views/ProveedoresView.java
src/Views/Remitos.form
src/Views/Remitos.java
src/Views/renglonRemitoComponent.form
src/Views/renglonRemitoComponent.java
src/Views/report2 prueba.jasper
src/Views/report2 prueba.jrxml
AbsoluteLayout.jar
build.xml
jcalendar-1.4.jar
manifest.mf
modelo-relacional.mwb
modelo-relacional.pdf
modelo-relacional.png
mysql-connector-java-5.0.8-bin.jar
swingx-1.6.1.jar
build/built-jar.properties
build/classes/.netbeans_automatic_build
build/classes/.netbeans_update_resources
build/classes/librerias/AbsoluteLayout.jar
build/classes/librerias/commons-collections-3.2.1.jar
build/classes/librerias/commons-digester-2.1.jar
build/classes/librerias/commons-logging-1.2.jar
src/Statics/TextPrompt.java
src/Statics/usuarios.png
src/Views/ABMClientesView.form
src/Views/ABMClientesView.java
src/Views/ABMCreditosView.form
src/Views/ABMCreditosView.java
src/Views/ABMSolicitudesView.form
src/Views/ABMSolicitudesView.java
src/Views/AltaUsuariosView.form
src/Views/AltaUsuariosView.java
src/Views/Auxiliar.form
src/Views/Auxiliar.java
src/Views/Cobranzas.form
src/Views/Cobranzas.java
src/Views/ColorFilasCobranza.java
src/Views/ControlRemitos.form
src/Views/ControlRemitos.java
src/Views/DigitalClock.form
src/Views/DigitalClock.java
src/Views/Facturacion.form
src/Views/Facturacion.java
src/Views/GeneracionCartones.form
src/Views/GeneracionCartones.java
src/Views/GenerarPlanillas.form
src/Views/GenerarPlanillas.java
src/Views/GenerarRemito.form
src/Views/GenerarRemito.java
src/Views/Home.form
src/Views/Home.java
src/Views/IngresoCobranzas.form
src/Views/IngresoCobranzas.java
src/Views/JD_Producto_editarStock.form
src/Views/JD_Producto_editarStock.java
src/Views/JD_Producto_Nuevo.form
src/Views/JD_Producto_Nuevo.java
src/Views/JD_Proveedor_Buscador.form
src/Views/JD_Proveedor_Buscador.java
src/Views/ListadoAccesoModulos.form
src/Views/ListadoAccesoModulos.java
src/Views/Login.form
src/Views/Login.java
src/Views/Main.java
src/Views/principal.form
src/Views/principal.java
src/Statics/proveedores.png
src/Statics/provinciaCompare.java
src/Statics/redSquare.png
src/Statics/refresh.jpg
src/Statics/remitos.png
src/Statics/RendererCuotasCliente.java
src/Statics/style.java
